.about-page-main-container {
  max-width: 1920px;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
  gap: 4rem;
  border-radius: 8px;
  color: white;
  background-color: #5d737e;
}

.about-page-main-container h1 {
  margin-bottom: 1rem;
  font-size: 2.25rem;
}

.about-page-main-container p {
  font-size: 1.5rem;
}

.about-history-container {
  width: 100%;
}

.about-img {
  height: auto;
  width: 100%;
}

@media (max-width: 1000px) {
  .about-page-main-container {
    padding: 3rem;
  }

  .about-page-main-container h1 {
    font-size: 2rem;
  }

  .about-page-main-container p {
    font-size: 1.25rem;
  }
}
