.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  gap: 2.5rem;
  list-style: none;
  font-size: 3.5rem;
}

.selected-tab {
  color: white;
}

.site-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.logo-name {
  font-size: 4.5rem;
  color: white;
}

.logoImg {
  height: 3.75rem;
}

@media (max-height: 700px) {
  .nav-list {
    gap: 2.5rem;
    font-size: 2.5rem;
  }

  .site-logo {
    gap: 12px;
  }

  .logo-name {
    font-size: 3.5rem;
  }

  .logoImg {
    height: 2.75rem;
  }
}
