.homepage-background {
  background: right/cover no-repeat url("../images/banner.jpg");
}

.homepage-overlay {
  background-color: rgba(0, 0, 0, 0.2);
}

.homepage-hero-container {
  min-width: 500px;
  margin: 6rem 0;
  text-align: center;
  color: white;
}

.homepage-hero-container > h1 {
  font-size: 5rem;
}

.homepage-hero-subtext {
  font-size: 2.5rem;
}

@media (max-height: 1000px) {
  .homepage-hero-container > h1 {
    font-size: 4rem;
  }

  .homepage-hero-subtext {
    font-size: 2rem;
  }
}
