.menu-page-background {
  background: 40% / cover no-repeat url("../images/menuPageBackground.jpg");
}

.menu-page-overlay {
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.3);
}

.menu-container {
  margin: 2rem;
  text-align: center;
  color: white;
}

.menu-container h2 {
  margin-bottom: 1rem;
  font-size: 3rem;
  text-decoration: underline;
}

.menu-container h3 {
  font-size: 2.5rem;
}

.menu-container p {
  font-size: 1.5rem;
}

.entree-container {
  margin-bottom: 4rem;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 4rem;
}

.menu-item > p > i {
  margin-left: 0.5rem;
}

@media screen and (orientation: portrait) {
  .menu-grid {
    display: grid;
    grid-template-columns: 600px;
    gap: 2rem;
  }
}
