* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  height: 100vh;
  display: flex;
  font-family: "Bebas Neue", "Roboto", "sans-serif";
  background-color: black;
}

body {
  height: 100%;
  width: 100%;
  margin: auto;
}

header {
  height: 130px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255, 0.7);
}

a:hover {
  color: white;
}

.content {
  height: 100%;
  min-width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 1.5rem;
}

.homepage-background {
  background: right/cover no-repeat url("../images/banner.jpg");
}

.homepage-overlay {
  background-color: rgba(0, 0, 0, 0.2);
}

.homepage-hero-offset {
  margin-bottom: 130px;
}

.menu-page-background {
  background: 40% / cover no-repeat url("../images/menuPageBackground.jpg");
}

.menu-page-overlay {
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.3);
}

.menu-container {
  margin: 2rem;
  text-align: center;
  color: white;
}

.menu-container h2 {
  font-size: 3.25rem;
  text-decoration: underline;
}

.menu-container h3 {
  font-size: 2.75rem;
}

.menu-container p {
  font-size: 1.75rem;
}

.entree-container {
  margin-bottom: 2rem;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 2rem;
}

.menu-item > p > i {
  margin-left: 0.5rem;
}

.about-page-main-container {
  height: 600px;
  min-width: 768px;
  margin: 0 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.about-history-container {
  max-width: 500px;
}

.about-img {
  height: 100%;
}

.contact-page {
  color: white;
}
.contact-page-content-container {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.contact-page h2 {
  margin-bottom: 1rem;
}

.contact-page a,
.contact-page img {
  height: 3rem;
}

.contact-page img {
  margin-right: 1rem;
}

.contact-page iframe {
  height: 100%;
  width: 100%;
  border: none;
}

.contact-page-business-info-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  gap: 1.5rem;
  list-style: none;
  font-size: 2.5rem;
}

.selected-tab {
  color: white;
}

.site-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.logo-name {
  font-size: 3.5rem;
  color: white;
}

.logoImg {
  height: 2.75rem;
}

.hero-container {
  text-align: center;
  color: white;
}

.hero-container > h1 {
  font-size: 5rem;
}

.hero-subtext {
  font-size: 2.5rem;
}
