* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  min-height: 800px;
  min-width: 550px;
  height: 100%;
  display: flex;
  font-family: "Bebas Neue", "Roboto", "sans-serif";
  background-color: black;
}

body {
  height: 100%;
  width: 100%;
  margin: auto;
}

header {
  height: 130px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex: 1;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255, 0.7);
}

a:hover {
  color: white;
}

.content {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
}

.homepage-background {
  background: right/cover no-repeat url("../images/banner.jpg");
}

.homepage-overlay {
  background-color: rgba(0, 0, 0, 0.2);
}

.homepage-hero-offset {
  margin-bottom: 130px;
}

.menu-page-background {
  background: 40% / cover no-repeat url("../images/menuPageBackground.jpg");
}

.menu-page-overlay {
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.3);
}

.menu-container {
  margin: 2rem;
  text-align: center;
  color: white;
}

.menu-container h2 {
  font-size: 3rem;
  text-decoration: underline;
}

.menu-container h3 {
  font-size: 2.5rem;
}

.menu-container p {
  font-size: 1.5rem;
}

.entree-container {
  margin-bottom: 2rem;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 2rem;
}

.menu-item > p > i {
  margin-left: 0.5rem;
}

.about-page-main-container {
  max-width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2rem;
  padding: 4rem 2rem;
  gap: 2rem;
  border-radius: 8px;
  color: white;
  background-color: #5d737e;
}

.about-page-main-container h1 {
  margin-bottom: 1rem;
  font-size: 2.25rem;
}

.about-page-main-container p {
  font-size: 1.5rem;
}

.about-history-container {
  max-width: 500px;
}

.about-img {
  height: auto;
  width: 50%;
}

.contact-page {
  color: white;
}

.contact-page h2 {
  font-size: 2rem;
}

.contact-page p,
.phone-number-container {
  font-size: 1.5rem;
}

.contact-page a,
.contact-page img {
  height: 50px;
}

.contact-page iframe {
  height: 300px;
  width: 100%;
  border: none;
}

.contact-page-content-container {
  margin: 2rem;
  padding: 2rem;
  border-radius: 8px;
  background-color: #5d737e;
}

.contact-page-business-contact-container {
  flex: 1;
  display: flex;
  margin-top: 2rem;
  gap: 4rem;
}

.contact-page-business-info-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.contact-page-google-maps-container {
  flex: 1;
}

.contact-form-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header-container {
  margin-bottom: 2rem;
}

.contact-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}

.contact-form label {
  font-size: 1.5rem;
}

.contact-form textarea {
  padding: 0.25rem;
  font-size: 1.2rem;
  resize: vertical;
}

.contact-form input {
  padding: 0.25rem;
  font-size: 1.2rem;
}

.contact-form button {
  margin-top: 0.5rem;
  padding: 10px 16px;
  align-self: center;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  color: white;
  background-color: #007bff;
}

.contact-form button:hover {
  filter: brightness(0.8);
}

.input-field {
  display: flex;
  flex-direction: column;
}

.social-media-icon-container {
  display: flex;
  gap: 1.5rem;
}

.social-media-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  gap: 1.5rem;
  list-style: none;
  font-size: 2.5rem;
}

.selected-tab {
  color: white;
}

.site-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.logo-name {
  font-size: 3.5rem;
  color: white;
}

.logoImg {
  height: 2.75rem;
}

.hero-container {
  text-align: center;
  color: white;
}

.hero-container > h1 {
  font-size: 5rem;
}

.hero-subtext {
  font-size: 2.5rem;
}
