* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  height: 100%;
  font-family: "Bebas Neue", "Roboto", "sans-serif";
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  height: 130px;
  margin-top: 1rem;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255, 0.7);
}

a:hover {
  color: white;
}

.homepage-background {
  background: right/cover no-repeat url("../images/banner.jpg");
}

.homepage-overlay {
  background-color: rgba(0, 0, 0, 0.2);
}

.homepage-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-page-background {
  background: 40% / cover no-repeat url("../images/menuPageBackground.jpg");
}

.menu-page-overlay {
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.3);
}

.menu-container {
  margin: 2rem;
  text-align: center;
  color: white;
}

.menu-container h2 {
  font-size: 3.25rem;
  text-decoration: underline;
}

.menu-container h3 {
  font-size: 2.75rem;
}

.menu-container p {
  font-size: 1.75rem;
}

.entree-container {
  margin-bottom: 2rem;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
  gap: 1rem;
}

.menu-item > p > i {
  margin-left: 0.5rem;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  gap: 1.5rem;
  list-style: none;
  font-size: 2.5rem;
}

.selected-tab {
  color: white;
}

.site-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-name {
  font-size: 3.5rem;
  color: white;
}

.logoImg {
  height: 2.75rem;
}

.hero-container {
  margin: 0 0.5rem;
  margin-top: -130px; /* minus the height of the header to center hero message */
  text-align: center;
  color: white;
}

.hero-container > h1 {
  font-size: 5rem;
}

.hero-subtext {
  font-size: 2.5rem;
}
